body {
  font: 11px sans-serif;
  margin: 20px;
  padding: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #999999;
  stroke-width: 1.5px;
}

.area {
  fill: #dedede;
}

button {
  background: #ccc;
  margin: 5px;

}
.selected {
  background: orange;
}

path.line {
  fill: none;
  stroke: #cccccc;
  stroke-width: 3px;
  stroke-opacity: 50%;
}

.focused {
  stroke: black;
  stroke-width: 5px;
  stroke-opacity: 100%;
}

.unfocused {
  stroke: gray;
  opacity: .5;
  stroke-width: 1px;
}


text.hidden {
  display: none;
}

text.bolder {
  font-weight: bolder;
}

.layer {
  fill: white;
}

.label {
  fill: #000000;
  font-weight:bold;
  z-index: 4;
}

text.linelabel {
  font-size: 9pt;
  color: gray;
}

.endpoint {
  fill: #666;
}

.y.axis text {
  fill: #000000;
}

.tooltip {
  position: absolute;
  z-index: 10;
}

.tooltip p {
  background-color: white;
  border: gray 1px solid;
  padding: 2px;
  max-width: 180px;
}