body {
  font: 11px;
  margin: 20px;
}

h1{
  font-family: 'Bree Serif', serif;
  font-size: 76px;
  color: #000000;
}

h2 {
  font-family: 'Bree Serif', serif;
  font-size: 42px;
}

.red {
  color: #FF6138;
  font-weight: bold;
}

a.link {
  font-color: #666666;
}


p.intro {
  font-family: 'Bree Serif', serif;
  font-size: 22px;
}

p.caption {
  font-family: 'Bree Serif', serif;
  font-size: 14px;
}

p.caption-small {
  font-family: 'Bree Serif', serif;
  font-size: 12px;
}

p.caption-gray {
  font-family: 'Bree Serif', serif;
  font-size: 12px;
  color: #666666;
}

.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  position: relative;
}

.chart4 {
  margin: auto;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.node-label {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  background: lightgrey;
  padding: 2px;
  margin: 2px;
  float: left;
}

.node:hover .node-container {
  visibility: visible;
}


.btnrow {
  padding-bottom: 10px;
}

.uglylegend{
  padding-top: 10px;
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #dedede;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1px;
}

rect:hover {
      opacity: 0.6;
      }

.area {
  fill: #dedede;
}

path.line {
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 50%;
}

#focused {
  stroke: #FF5335;
  stroke-width: 6px;
  stroke-opacity: 100%;
}

#unfocused {
  stroke: gray;
  opacity: .5;
  stroke-width: 1px;
}


text.hidden {
  display: none;
}

text.bolder {
  font-weight: bolder;
}

.layer {
  fill: white;
}

.label {
  fill: #666666;
  font-size: 11px;
  z-index: 4;
}

.labels {
  fill: #666666;
  font-size: 11px;
  z-index: 4;
}

text.linelabel {
  font-size: 9pt;
  color: gray;
}

.endpoint {
  fill: #666;
}

.y.axis text {
  fill: #1E1E20;
  font-size: 11px;
}

.x.axis text {
  fill: #1E1E20;
  font-size: 11px;
}

.linetooltip {
  position: absolute;
  z-index: 10;
}

.linetooltip p {
  background-color: white;
  border: gray 1px solid;
  padding: 2px;
  max-width: 180px;
}

.tooltip {   
      position: absolute;           
      text-align: center;           
      width: 60px;                  
      height: 28px;                 
      padding: 2px;             
      font: 14px sans-serif bold;  
      font-weight: bold;      
      background-color: #dedede;   
      border: 0px;      
      border-radius: 8px;           
      pointer-events: none;         
}

.bottom {
  padding-bottom:10px;
}


#menu select {
background: #ccc;
   width: 220px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
}